<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
    <link href="css/login.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    

</head>
<body>
    <div class="container" id="center">
        <form class="login-form" action="/setTask">
            <h2 style="text-align: center;">Log in</h2>
            <label class="box" for="uname">UserName</label>
            <input type="text" class="form-control" placeholder="Username" name="uname" required>
            <label for="pwd" class="box">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="pwd" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>