<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Report Page</title>
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/reportStyle.css" rel="stylesheet">
    

</head>
<body>
    
  </div>
    <div class="container">
        <section id="center">
        <h2><u>Review Midterm</u></h1>
        <p>Congrats you finished!</p>
        <div>
        <svg width="145" height="137" viewBox="0 0 145 137" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M125.331 66.5121C125.759 79.6924 121.604 92.6133 113.573 103.073C105.542 113.533 94.133 120.885 81.2894 123.876C68.4458 126.867 54.9625 125.312 43.1368 119.476C31.3111 113.64 21.8748 103.885 16.4356 91.8714C10.9964 79.8581 9.89098 66.3305 13.3076 53.5936C16.7242 40.8566 24.4515 29.6983 35.1728 22.02C45.8942 14.3417 58.9462 10.6184 72.1049 11.4845C85.2637 12.3506 97.7151 17.7525 107.338 26.7699L100.356 34.2196C92.4574 26.8174 82.2362 22.383 71.4344 21.672C60.6326 20.961 49.9184 24.0175 41.1174 30.3205C32.3164 36.6235 25.9732 45.7831 23.1686 56.2387C20.3639 66.6943 21.2714 77.7989 25.7363 87.6604C30.2012 97.5219 37.9474 105.53 47.6549 110.321C57.3624 115.111 68.4307 116.388 78.9738 113.932C89.5169 111.477 98.8825 105.442 105.475 96.8558C112.067 88.2694 115.478 77.6629 115.127 66.8433L125.331 66.5121Z" fill="#C4C4C4"/>
        <path d="M38 52.5714L73.2 88L137 26" stroke="#2BB66B" stroke-width="15" stroke-linecap="round"/>
        </svg>
        </div>
        </section>
        <section> 
            <h5><u>Time to Complete Task</u></h4>
        </section>
        
        <section>
            <h5><u>Subtask Summary</u></h5>
        </section>
     
        <button>Start New Task</button>
    </div>
    <div>
    <nav class="mobile-nav">
      
      <a href="#"><div class="nav-item">
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3521175/home.svg' alt=''>
        <p>Home</p>
        </div></a>
      
        <a href="#"><div class="nav-item">
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3521175/menu.svg' alt=''>
        <p>Task</p>
        </div></a>
    </nav>
  </div> 
</body>
</html>