<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style2.css">

    </head>

    <body>
        <!-- MAIN SECTION -->
        <main>
            <div class="container">
                <!--  Input and "add" button  -->
                <!--  List, list items, and list item buttons  -->
                <ul class="list">
                    <li class="list__item"><a class="list__delete-btn">X</a>Subtask1<a class="list__check-btn">✔</a></li>
                    <li class="list__item"><a class="list__delete-btn">X</a>Subtask2<a class="list__check-btn">✔</a></li>
                    <li class="list__item list__item--checked"><a class="list__delete-btn list__delete-btn--checked">X</a>Subtask3<a class="list__check-btn list__check-btn--checked">✔</a></li>
                </ul>
            </div>
        </main>

</html>

