<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Subtask Page</title>
	<link href="css/navbar.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body >
	  <div class="container">
	<div>
		<button id="backButton">Back</button>
	</div>
	<div class="subTaskGroup">
		<h2>Add Subtask <br>for Task1 </h2>
		<h4>Estimated Total Time: 140 Min </h3>
		<form >
			<div>
				Estimated Time:
				<select id="selectInput">
				  <option>10 min</option>
				  <option>30 min</option>
				  <option>50 min</option>
				  <option>70 min</option>
				</select>
			</div>
			
			<div>
				Subtask Name:
				<input type="text" id="textInput">
			</div>
		</form>
		<div>
		
		</div>
		<form>
			<div>
				Estimated Time:
				<select id="selectInput">
				  <option>10 min</option>
				  <option>30 min</option>
				  <option>50 min</option>
				  <option>70 min</option>
				</select>
			</div>
			
			<div>
				Subtask Name:
				<input type="text" id="textInput">
			</div>
			<p>
			  <button type="button" id="clickMe">Add</button>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</p>
		  </form>
	</div>
	<div>
		<button id="goButton">Start Subtask</button>
	</div>
	</div>
	<div>
		<nav class="mobile-nav">
		
		<a href="/"><div class="nav-item">
			<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3521175/home.svg' alt=''>
			<p>Home</p>
			</div></a>
		
			<a href="setTask"><div class="nav-item">
			<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3521175/menu.svg' alt=''>
			<p>Task</p>
			</div></a>
		</nav>
  </div> 
  </body>
</html>  