<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body >
	<div>
		<button id="backButton">
			<div class="buttonText">
				Go Back
			</div>
		</button>
	</div>
	<div class="subTaskGroup">
		<h1>Add Subtask for Task1 </h1>
		<h3>Estimated Total Time: 140 Min </h3>
		<form>
			<div>
				Estimated Time:
				<select id="selectInput">
				  <option>10 min</option>
				  <option>30 min</option>
				  <option>50 min</option>
				  <option>70 min</option>
				</select>
			</div>
			<div>
				Subtask Name:
				<input type="text" id="textInput">
			</div>
		</form>
		<div>
			
		</div>
		<form>
			<div>
				Estimated Time:
				<select id="selectInput">
				  <option>10 min</option>
				  <option>30 min</option>
				  <option>50 min</option>
				  <option>70 min</option>
				</select>
			</div>
			<div>
				Subtask Name:
				<input type="text" id="textInput">
			</div>
			<p>
			  <button type="button" id="clickMe">Add</button>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</p>
		  </form>
	</div>
	<div>
		<button id="goButton">
			<div class="buttonText">
				Start Subtask
			</div>
		</button>
	</div>
  </body>
</html>  