.container{
	text-align: center;
	background: #fafcfb;
  	font-family: sans-serif;
  	font-weight: 100;
}

#center{
	margin-top: 50px;
}

h1{
  color: rgb(7, 7, 7);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	padding-top:10%;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #ebf0ee;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #0b0c0c;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

button {
	background: none;
	margin-left: 35%;
	margin-right:35%;
	margin-top: 10%;
	height: 15%;
	width: 30%;
	border: 2px solid rgb(14, 11, 11);
	border-radius: 5px;
	color: rgb(7, 6, 6);
	display: block;
	font-size: 1 em;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
  }

  #backButton {
	outline:none;
	top: 0%;
	height: 7%;
	width: 15%;
	padding: 3px;
	margin-top:1%;
	margin-left: 5%;
	text-align: center;
	border-radius:8px;
	border-color: white;
	background: rgb(221, 209, 209);
  }