body{
    text-align: center;
}
/* .login-form{
    max-width:330px;
    padding: 15px;
    margin:0;
} */

 #center{
    margin-top:100px;
    margin-right: 10%;
    margin-left: 10%;
} 

form{
    display: block;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.box {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    width:100%;
}

