
  
  .mobile-nav{
    background:rgba(177, 113, 113, 0.38);
    height:56px;
    width:100%;
    position:absolute;
    bottom:0;
    display:flex;
    justify-content:space-evenly;
  }
  
  .mobile-nav a{
    text-decoration:none;
    padding:8px 0;
  }
  
  .mobile-nav div{
    height:100%;
    width:56px;
    margin:0 12px;
  }
  
  .nav-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
  }
  
  .nav-item img{
    width:30px;
    height:30px;
  }
  
  .nav-item p{
    padding:0;
    margin:0;
    font-size:1.2rem;
    color:#FAFAFA;
  }